/*
    TODO: Sort this shoddy CSS out.
*/

.traffic-light-rating {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 50px;
    border-radius: 50px;
    float: left;
    margin-right: 1em;
    padding-bottom: 10px;
    font-size: 80%;
}

.traffic-light-rating.low { border: 2px solid #70D23E; }
.traffic-light-rating.med { border: 2px solid #FFA93A; }
.traffic-light-rating.high { border: 2px solid #FF4A3C; }

.nutrient-status {
    width: 55px;
    height: 45px;
    color: #FFF;
    border-radius: 50px;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

.nutrient-status.low { background-color: #70D23E; }
.nutrient-status.med { background-color: #FFA93A; }
.nutrient-status.high { background-color: #FF4A3C; }

.nutrient-name {
    margin-top: 3px;
    text-transform: uppercase;
}
