<div class="traffic-light-rating {{ abv|clean_class }} {{ status }}" title="{{ name }} content">
    <div class="nutrient-status {{ status|clean_class }}">{{ status }}</div>
    <div class="nutrient-name">{{ abv }}</div>
    <div class="nutrient-value" title="{{ value }} grammes">{{ value }}g</div>
</div>  